@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Halyard-Display-Regular';
    src: url('/resources/fonts/Halyard-Display-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Halyard-Display-ExtraLight';
    src: url('/resources/fonts/Halyard-Display-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Halyard-Text-Book';
    src: url('/resources/fonts/Halyard-Text-Book.ttf');
    font-weight: normal;
    font-style: normal;
}
@layer base {
    html {
        @apply bg-gradient-to-b from-my_gray to-black;
        @apply text-white font-['Halyard-Display-ExtraLight'];
    }
}

